name: Node CI

trigger:
  branches:
    include:
    - master
pr:
  branches:
    include:
    - master

pool:
  vmImage: 'ubuntu-16.04'

jobs:
- job: build
  
  pool:
    vmImage: 'ubuntu-16.04'
  
  strategy:
    matrix:
      node-version: [8.x, 10.x, 12.x]

  steps:
  - checkout: self

  - task: UseNode@1
    inputs:
      version: ${{ node-version }}

  - script: |
      npm ci
      npm run build --if-present
      npm test
    name: npm_ci_build_test
    env:
      CI: true